.button {
  border: none;
  width: 60rem;
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.35s ease-out;
}

.primary {
  background-color: var(--color-red-1);
}
.primary:hover {
  background-color: var(--color-red-2);
  cursor: pointer;
}

.secondary {
  background-color: var(--color-dark-2);
}
.secondary:hover {
  background-color: var(--color-gray-2);
  cursor: pointer;
}

.icon {
  width: 32rem;
  height: 32rem;
  background-image: url(../../../../images/icons/arrow-up.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .button {
    border: none;
    width: 32rem;
    height: 32rem;
  }
  .icon {
    width: 16rem;
    height: 16rem;
  }
}