.ecosystem {
  padding-bottom: 304rem;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 40rem;
}

.list {
  display: flex;
  align-self: flex-start;
  position: relative;
}

@media screen and (max-width: 480px) {
  .ecosystem {
    padding-bottom: 90em;
    padding-top: 20rem;
  }
}