
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380rem);
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
    justify-items: center;
  }

}