.divLineContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.divLine {
  position: absolute;
  top: -6.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 30% max-content 1fr;
  align-items: center;
  transform-origin: 0% 0%;
  transform: rotate(3.6deg);
  overflow: hidden;
}

.isRight .divLine {
  transform-origin: 100% 100%;
  transform: rotate(-3.6deg);
}

.divLineRed {
  height: 1rem;
  width: 100%;
  background-color: #FF6666;
}

.isRight .divLineRed {
  background-color: var(--color-dark-1);
  
}

.divLineWhite {
  height: 1rem;
  width: 100%;
  background-color: var(--color-dark-1);
}

.isRight .divLineWhite {
  background-color: #FF6666;
  
}

.dot {
  background-image: url(../../../../../../images/misc/line-dot.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 15rem;
  height: 13rem;
}