.opening {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  z-index: 2;
}

.content {
  width: 1200rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.textContainer {
  position: relative;
  z-index: 4;
  font-family: var(--font-basic);
}

.title {
  font-size: 64rem;
  color: var(--color-white);
  font-weight: 700;
  font-family: 'HeliosExt';
  width: 570rem;
  line-height: 1.15;
}

.subtitle1 {
  color: var(--color-white);
  font-size: 44rem;
  font-weight: 700;
  width: 530rem;
  margin-bottom: 0rem;
  line-height: 1.55;
}

.subtitle2 {
  color: var(--color-gray-2);
  font-size: 22rem;
  font-weight: 300;
  width: 530rem;
  margin-bottom: 32rem;
  line-height: 1.55;
}

.buttonsContainer {
  width: min-content;
  display: grid;
  gap: 20rem;
  grid-template-columns: 1fr 1fr;
  width: 490rem;
}


@media screen and (max-width: 480px) {
  .content {
    width: 280rem;
    justify-content: center;
    align-items: flex-start;
  }
  .title {
    font-size: var(--font-size-middle);
    width: max-content;
    line-height: 1.41;
    margin-bottom: 8rem;

  }
  .subtitle {
    font-size: var(--font-size-body-middle);
    margin-bottom: 24rem;
    /* width: max-content; */
  }

  .textContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .buttonsContainer {
    width: min-content;
    display: grid;
    gap: 20rem;
    grid-template-columns: 1fr;
    width: 290rem;
  }

  .subtitle1 {
    font-size: var(--font-size-body-middle);
    margin-bottom: 0;
    width: auto;
    text-align: center;
    display: none;
  }
  
  .subtitle2 {
    font-size: var(--font-size-body-middle);
    margin-bottom: 18rem;
    width: auto;
    text-align: center;

  }

}