.pro {
  padding-bottom: 150rem;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 40rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  align-content: center;
  justify-content: space-between;
  justify-items: space-between;
}

.splideContainer {
  display: flex;
  align-self: flex-start;
  position: relative;
}

@media screen and (max-width: 480px) {
  .pro {
    padding-bottom: 70rem;
    padding-top: 20rem;
  }
}