.arrowContainer {
  width: 1320rem;
  display: grid;
  grid-auto-flow: column;
  position: relative;
}

.prevArrow {
  position: absolute;
  top: calc(50% - 30rem);
  left: 0;
  z-index: 2;
  background-color: transparent;
  border: none;
  transition: 0.35s ease-out opacity, 0.35s ease-out visability;
  visibility: visible;
  opacity: 1;
}

.prevArrow:disabled {
  opacity: 0;
  visibility: hidden;
}

.nextArrow {
  position: absolute;
  top: calc(50% - 30rem);
  right: 102rem;
  z-index: 2;
  background-color: transparent;
  border: none;
  transition: 0.35s ease-out opacity, 0.35s ease-out visability;
  visibility: visible;
  opacity: 1;
}

.nextArrow:disabled {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .arrowContainer {
    width: 300rem;
  }

  .prevArrow {
    top: calc(50% - 16rem);
  }
  
  .prevArrow:disabled {
    opacity: 0;
    visibility: hidden;
  }
  
  .nextArrow {
    top: calc(50% - 16rem);
    right: 4rem;
  }
}