.countriesMarquee {
  width: 100%;
  height: max-content;
  overflow: hidden;
  padding: 22rem 0 117rem;
  position: relative;
}

.content {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.listElement {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.dot {
  content: '';
  width: 13rem;
  height: 13rem;
  /* margin: 0 32rem; */
  border-radius: 50%;
  background: linear-gradient(250.18deg, rgba(255, 255, 255, 0.6) 1.29%, rgba(255, 255, 255, 0) 96.35%);
}

.countryName {
  font-size: var(--font-size-big);
  font-family: var(--font-basic);
  font-weight: 700;
  background: linear-gradient(250.18deg, rgba(255, 255, 255, 0.6) 1.29%, rgba(255, 255, 255, 0) 96.35%);
  background-clip: text;
  color: transparent;
  line-height: 1.22;
}

@media screen and (max-width: 480px) {
  .countriesMarquee {
    padding: 13rem 0 40rem;
  }

  .dot {
    width: 5.5rem;
    height: 5.5rem;
    margin: 0 16rem;
  }

  .countryName {
    font-size: var(--font-size-small);
    line-height: 1.4;

  }
}