.paragraph {
  width: 100%;
  word-break: break-word;
}

.subtitle {
  margin-bottom: 20rem;
  font-size: var(--font-size-small);
  color: var(--color-white);
  font-weight: 700;
  font-family: var(--font-basic);
  line-height: 1.625;
  overflow-wrap: break-word;
  margin-bottom: 5rem;
}

.text {
  margin-bottom: 30rem;
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  font-weight: 300;
  font-family: var(--font-basic);
  line-height: 1.625;
  overflow-wrap: break-word;
  white-space: pre-line;
}

@media screen and (max-width: 480px) {
  .text {
    margin-bottom: 25rem;
    font-size: var(--font-size-body-middle);
    line-height: 1.57;
    grid-area: text;
  }

  .subtitle {
    margin-bottom: 8rem;
    font-size: var(--font-size-body-big);

  }
  
}