.askQuestion {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  gap: 20rem;
  align-items: center;
  align-content: center;
}

.workTime {
  font-family: var(--font-basic);
  font-size: var(--font-size-middle);
  color: var(--color-white);
  font-weight: 700;
  position: relative;
}

.askButton {
  position: absolute;
  top: 110%;
  right: 0;
  width: max-content;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  font-family: var(--font-basic);
  font-size: var(--font-size-body-big);
  color: var(--color-red-1);
  transition: var(--link-opacity-transition);
  text-decoration: none;
}

.askButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.langListContainer {
  
}

@media screen and (max-width: 480px) {
  .askQuestion {
    gap: 10rem;
  }
  .workTime {
    display: none;
  }
  .askButton {
    position: relative;
    top: 0;
    right: 0;
    font-size: var(--font-size-body-small);
    margin-bottom: -1rem;
  }

}