@keyframes float1 {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-20rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(20rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes float3 {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-30rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes float4 {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(30rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

.imageContainer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 949rem;
  height: 724rem;
}

.imageShadow {
  position: absolute;
  width: 94%;
  height: 35%;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 94.27%);
}

.coin1 {
  position: absolute;
  width: 109rem;
  height: 76rem;
  top: 132rem;
  left: 163rem;
  animation: float3 7s  ease-in-out infinite;

}

.coin2 {
  position: absolute;
  width: 56rem;
  height: 46rem;
  top: 349rem;
  left: 26rem;
  animation: float4 6s  ease-in-out infinite;

}

.coin3 {
  position: absolute;
  width: 95rem;
  height: 51rem;
  top: 211rem;
  left: 115rem;
  animation: float3 5s 1s ease-in-out infinite;
}

.coin4 {
  position: absolute;
  width: 113rem;
  height: 69rem;
  top: 288rem;
  left: 119rem;
  animation: float1 7s 1s ease-in-out infinite;

}

.coin5 {
  position: absolute;
  width: 69rem;
  height: 47rem;
  top: 169rem;
  left: 810rem;
  animation: float1 6s  ease-in-out infinite;

}

.coin6 {
  position: absolute;
  width: 99rem;
  height: 95rem;
  top: 70rem;
  left: 809rem;
  animation: float3 5s 1s ease-in-out infinite;
}

.coin7 {
  position: absolute;
  width: 96rem;
  height: 90rem;
  top: 217rem;
  left: 774rem;
  animation: float3 5s 2s ease-in-out infinite;
}

.coin8 {
  position: absolute;
  width: 76rem;
  height: 65rem;
  top: 128rem;
  left: 325rem;
  animation: float1 5s 2s ease-in-out infinite;
}

.coin9 {
  position: absolute;
  width: 56rem;
  height: 46rem;
  top: 104rem;
  left: 645rem;
  animation: float2 6s 2s ease-in-out infinite;
}



@media screen and (max-width: 480px) {
  .imageContainer {
    width: 320rem;
    height: 241rem;
  }

  .imageShadow {
    width: 100%;
  }

  .coin1 {
    width: 47rem;
    height: 33rem;
    top: -6rem;
    left: 17rem;
  }
  
  .coin2 {
    width: 24rem;
    height: 20rem;
    top: 130rem;
    left: 62rem;
  }
  
  .coin3 {
    width: 41rem;
    height: 22rem;
    top: 55rem;
    left: -12rem;
  }
  
  .coin4 {
    width: 49rem;
    height: 30rem;
    top: 129rem;
    left: -3rem;
  
  }
  
  .coin5 {
    width: 31rem;
    height: 21rem;
    top: 45rem;
    left: 282rem;
  
  }
  
  .coin6 {
    width: 43rem;
    height: 41rem;
    top: -29rem;
    left: 272rem;
  }
  
  .coin7 {
    width: 42rem;
    height: 39rem;
    top: 96rem;
    left: 280rem;
  }

  .coin8 {
    width: 33rem;
    height: 28rem;
    top: 58rem;
    left: 83rem;
  }
  
  .coin9 {
    width: 24rem;
    height: 20rem;
    top: 19rem;
    left: 211rem;
  }
}