.trafficSources {
  width: 100%;
  padding-bottom: 242rem;
  display: flex;
  justify-content: center;
  padding-top: 40rem;
}

.list {
  padding-top: 63rem;
  display: grid;
  column-gap: 30rem;
  row-gap: 10rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .trafficSources {
    width: 100%;
    padding-bottom: 110rem;
    padding-top: 20rem;
  }

  .list {
    padding-top: 0;
    display: grid;
    column-gap: 20rem;
    row-gap: 24rem;
    grid-template-columns: 1fr 1fr;
  }
}

