.articlePopup {
  width: 836rem;
  background-color: var(--color-dark-2);
  border-radius: 20rem;

  padding: 50rem 86rem;
  box-sizing: border-box;
  overflow: hidden;
  margin: 117rem 0;
  display: flex;
  justify-content: center;
  position: relative;

}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 9rem;
  right: 9rem;
  background: url(../../../../images/icons/close.svg) no-repeat center;
  background-size: 32rem 32rem;
  width: 32rem;
  height: 32rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: var(--link-opacity-transition);
}

.closeButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.imageContainer {
  width: 664rem;
  height: 340rem;
  border-radius: 16rem;
  overflow: hidden;
  margin-bottom: 32rem;
}

.title {
  font-size: var(--font-size-middle);
  color: var(--color-white);
  font-weight: 700;
  font-family: var(--font-basic);
  margin-bottom: 24rem;
  line-height: 1.4;
}

.textContainer {
  width: 100%;
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  font-weight: 300;
  font-family: var(--font-basic);
  line-height: 1.625;
  overflow-wrap: break-word;
  white-space: pre-line;
  margin-bottom: 20rem;
}

.textContainer ul {
  /* line-height: 1; */
}

.textContainer a {
  color: var(--color-gray-2);
  text-decoration: none;
  transition: 0.35s opacity ease-out;
  color: var(--color-red-3);
  overflow-wrap: anywhere;
  word-wrap:  break-word;
  word-break: break-word;
}

.textContainer a:hover {
  opacity: 0.8;
}

.textContainer img {
  width: 664rem;
}

.date {
  color: var(--color-white);
  align-self: end;
  font-size: var(--font-size-body-middle);
  font-weight: 300;
  font-family: var(--font-basic);
}

@media screen and (max-width: 480px) {

  .articlePopup {
    width: 280rem;
    padding: 64rem 20rem 32rem 20rem;
    margin: 25rem 0;
    box-sizing: border-box;

  }

  .content {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-areas: 
    'title'
    'image'
    'text';
  }

  .closeButton {
    top: 13rem;
    right: 8rem;
    background-size: 24rem 24rem;
    width: 24rem;
    height: 24rem;
  }

  .title {
    font-size: var(--font-size-body-big);
    margin-bottom: 16rem;
    grid-area: title;
  }

  .imageContainer {
    width: 100%;
    height: 130rem;
    margin-bottom: 16rem;
    grid-area: image;
  }

  .imageContainer {
    width: 100%;
    height: 151rem;
    margin-bottom: 16rem;
    grid-area: image;
  }



  .backLink {
    width: 100%;
  }

  .textContainer {
    font-size: var(--font-size-body-middle);
    line-height: 1.57;
  }
  .textContainer h2 {
    font-size: var(--font-size-body-big);
  }

  .textContainer img {
    width: 100%;
  }

  .date {
    font-size: var(--font-size-body-small);
    justify-self: end;
  }
}