.popupLayout {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.6);
  backdrop-filter: blur(30px);
  z-index: 20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}