.pageForm {
  width: 100%;
  display: flex;
  justify-content: center;
}

.isMiddle {
  padding-bottom: 150rem;
}

.content {
  background-color: var(--color-dark-1);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr max-content;
  width: 1200rem;
  border-radius: 40rem;
}

.formContainer{
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding: 80rem 0rem 82rem 60rem;
  box-sizing: border-box;
}

.textImg {
  width: 515rem;
  height: 113rem;
  margin-bottom: 16rem;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}


.text {
  font-family: var(--font-basic);
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  margin-bottom: 24rem;
  line-height: 1.6;
}

.imageContainer {
  width: 533rem;
  height: 400rem;
}

.buttonContainer {
  width: 300rem;
}




@media screen and (max-width: 480px) {
  .content {
    grid-template-columns: 1fr;
    width: 280rem;
    border-radius: 20rem;
  }

  .isMiddle {
    padding-bottom: 90rem;
  }

  .formContainer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 32rem 18rem 0;
  }

  .textImg {
    width: 100%;
    height: 53rem;
    margin-bottom: 16rem;
  }

  .text {
    font-size: var(--font-size-body-big);
    margin-bottom: 24rem;
    line-height: 1.57;

  }

  .imageContainer {
    width: 100%;
    height: 187rem;
  }

  .buttonContainer {
    width: 100%;
  }
}