.card {
  width: 380rem;
  height: 391rem;
  padding: 32rem 0 32rem;
}

.linkTo {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  outline: none;
  padding: 16rem;
  display: flex;
  align-items: flex-end;
  background-color: transparent;
  border-radius: 40rem;
  overflow: hidden;
  filter: drop-shadow(0px 24rem 40rem rgba(0, 0, 0, 0.6));
  transition: 0.35s transform ease-out;
  box-sizing: border-box;
  text-decoration: none;
}

.linkTo:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}

.textContainer {
  height: 138rem;
  width: 100%;
  font-family: var(--font-basic);
  border-radius: 24rem;
  backdrop-filter: blur(24px);
  background: rgba(18, 18, 18, 0.6);
  padding: 16rem 16rem 0 16rem;
  text-align: start;
  box-sizing: border-box;
  z-index: 1;
}

.about {
  max-height: 107rem;
  display: grid;
  grid-template-rows: fit-content(50rem) 1fr;
  overflow: hidden;
}

.title {
  font-size: var(--font-size-body-big);
  color: var(--color-white);
  margin-bottom: 8rem;
  line-height: 1.5;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
}

.text {
  font-size: var(--font-size-body-small);
  color: var(--color-gray-2);
  line-height: 1.6;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-clip-margin: 0;
  overflow-wrap: break-word;
}

@media screen and (max-width: 480px) {
  .card {
    width: 280rem;
    height: 280rem;
    padding: 24rem 0 24rem;
  }

  .linkTo {
    padding: 8rem;
    filter: drop-shadow(0px 12rem 20rem rgba(0, 0, 0, 0.6));

  }

  .textContainer {
    height: 112rem;
  }

  .about {
    max-height: 80rem;
    display: grid;
    grid-template-rows: fit-content(45rem) 1fr;
    overflow: hidden;
  }


  .title {
    font-size: var(--font-size-body-middle);
    color: var(--color-white);
    margin-bottom: 8rem;
    line-height: 1.42;
    max-height: 40rem;
    overflow: hidden;
  }
  
  .text {
    font-size: var(--font-size-body-small);
    color: var(--color-gray-2);
    line-height: 1.33;
    max-height: 30rem;
  }
}