.vacancies {
  padding-bottom: 88rem;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  padding-top: 40rem;
}

.list {
  display: flex;
  align-self: flex-start;
  position: relative;
  /* width: 100%; */
}

@media screen and (max-width: 480px) {
  .vacancies {
    padding-bottom: 46rem;
    padding-top: 20rem;
  }

  .list {
    width: 300rem;

  }
}