.whatWeDo {
  width: 100%;
  padding-bottom: 298rem;
  display: flex;
  justify-content: center;
}

.content {
  width: 1200rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80rem;
}

.textContainer {
  margin-top: 62rem;
}

.title {
  margin-bottom: 32rem;
  color: var(--color-white);
  font-size: var(--font-size-big);
  font-family: var(--font-basic);
  font-weight: 700;
  width: 400rem;
  line-height: 1.22;

}

.list {
  margin-bottom: 32.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30rem;
  row-gap: 50rem;
}

.buttonContainer {
  width: 234rem;
}

@media screen and (max-width: 480px) {
  .whatWeDo {
    padding-bottom: 90rem;
  }
  
  .content {
    width: 280rem;
    grid-template-columns: auto;
    gap: 32rem;
  }

  .title {
    margin-bottom: 24rem;
    font-size: var(--font-size-middle);
    line-height: 1.4;
    width: max-content;
  }

  .textContainer {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .list {
    margin-bottom: 32rem;
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 17rem;
  }
  
  .buttonContainer {
    width: 177rem;
    align-self: center;
  }
}