.formPopup {
  width: 664rem;
  background-color: var(--color-dark-2);
  position: relative;
  margin-top: 87rem;
  border-radius: 20rem;
  overflow: hidden;
  padding: 74rem 86rem 64rem;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  top: 9rem;
  right: 9rem;
  background: url(../../../../images/icons/close.svg) no-repeat center;
  background-size: 32rem 32rem;
  width: 32rem;
  height: 32rem;
  border: none;
  outline: none;
  background-color: transparent;
  transition: var(--link-opacity-transition);
  padding: 0;
}

.closeButton:hover {
  cursor: pointer;
  opacity: 0.8;
}

.imageContainer {
  width: 493rem;
  height: 200rem;
  margin-bottom: 23rem;
  border-radius: 20rem;
  overflow: hidden;
}

.title {
  margin-bottom: 8rem;
  font-family: var(--font-basic);
  font-size: var(--font-size-middle);
  color: var(--color-white);
  line-height: 1.4;
  font-weight: 700;
}

.subtitle {
  margin-bottom: 20rem;
  font-family: var(--font-basic);
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  line-height: 1.6;
}

.form {
  
}

.inputsContainer {
  margin-bottom: 20rem;
  display: grid;
  gap: 24rem;
  align-items: center;
}

.buttonContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 24rem;
  grid-template-columns: 174rem 280rem;
  align-items: center;
}

.agreement {
  font-family: var(--font-basic);
  font-size: var(--font-size-body-small);
  color: var(--color-gray-1);
}

@media screen and (max-width: 480px) {
  .formPopup {
    width: 280rem;
    margin-top: 25rem;
    padding: 50rem 20rem 32rem;
  }

  .closeButton {
    top: 13rem;
    right: 8rem;
    background-size: 24rem 24rem;
    width: 24rem;
    height: 24rem;
  }

  .imageContainer {
    width: 100%;
    height: 155rem;
    margin-bottom: 16rem;
  }

  .title {
    font-size: var(--font-size-small);
  }

  .subtitle {
    margin-bottom: 16rem;
    font-size: var(--font-size-body-middle);
  }

  .inputsContainer {
    margin-bottom: 16rem;
    display: grid;
    grid-auto-flow: row;
    gap: 16rem;
    grid-template-columns: 1fr;

  }

  .buttonContainer {
    grid-auto-flow: row;
    gap: 16rem;
    grid-template-columns: 1fr;
  }
  
  .agreement {
    text-align: center;
  }
}