.statistics {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40rem 0 88rem;
}

.content {
  overflow: hidden;
  display: grid;
  width: 1200rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.listElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1rem var(--color-gray-1) solid;
}

.listElement:last-child {
  border-right: none

}

.stat {
  font-family: var(--font-basic);
  font-size: 42rem;
  color: var(--color-white);
  line-height: 1.6;
}

.statDisc {
  font-family: var(--font-basic);
  font-size: var(--font-size-body-big);
  color: var(--color-gray-2);
  line-height: 1.6;
}


@media screen and (max-width: 480px) {
  .statistics {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40rem 0 90rem;
  }
  
  .content {
    overflow: hidden;
    display: grid;
    width: 290rem;
  }
  
  .list {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: none;
    row-gap: 25rem;
    grid-template-areas: 
    'el1 el2'
    'el3 el4'
    'el5 el5';
  }

  .listElement:nth-child(1) {
    grid-area: el1;
  }

  .listElement:nth-child(2) {
    grid-area: el2;
  }
  .listElement:nth-child(3) {
    grid-area: el3;
  }
  .listElement:nth-child(4) {
    grid-area: el4;
  }
  .listElement:nth-child(5) {
    grid-area: el5;
  }
  
  .listElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1rem var(--color-gray-1) solid;;
  }
  
  .listElement:nth-child(2n) {
    border-right: none;
  }
  
  .stat {
    font-size: 25rem;
    line-height: 1.6;
    text-align: center;
  }
  
  .statDisc {
    font-size: var(--font-size-body-small);
    line-height: 1.6;
    text-align: center;

  }
}