.card {
  width: 216rem;
  height: 184rem;
  border-radius: 40rem;
  background-color: var(--color-dark-1);
  transition: background-color 0.5s ease-out;
  padding: 32rem;
  box-sizing: border-box;
}

.labCard:hover {
  background-color: var(--color-red-1);
}

.edCard:hover  {
  background-color: var(--color-purple);

}

.appsCard:hover  {
  background-color: var(--color-green);

}

.cryptCard:hover  {
  background-color: var(--color-blue);

}

.merchCard:hover  {
  background-color: var(--color-orange);

}


.logo {
  width: 120rem;
  height: 120rem;
  position: relative;
}

.logo::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.logo::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.card:hover .logo::before {
  opacity: 1;
}

.card:hover .logo::after {
  opacity: 0;
}



.labCard .logo::after {
  background-image: url(../../../../../images/logos/lab.svg);
}

.edCard .logo::after {
  background-image: url(../../../../../images/logos/education.svg);
}

.appsCard .logo::after {
  background-image: url(../../../../../images/logos/apps.svg);
}

.cryptCard .logo::after {
  background-image: url(../../../../../images/logos/crypt.svg);
}

.merchCard .logo::after {
  background-image: url(../../../../../images/logos/merch.svg);
}


.labCard .logo::before {
  background-image: url(../../../../../images/logos/lab-hover.svg);
}

.edCard .logo::before {
  background-image: url(../../../../../images//logos/education-hover.svg);
}

.appsCard .logo::before {
  background-image: url(../../../../../images/logos/apps-hover.svg);
}

.cryptCard .logo::before {
  background-image: url(../../../../../images/logos/crypt-hover.svg);
}

.merchCard .logo::before {
  background-image: url(../../../../../images/logos/merch-hover.svg);
}

@media screen and (max-width: 480px) {
  .card {
    width: 130rem;
    height: 130rem;
    padding: 24rem;
    border-radius: 20px;
  }

  .logo {
    width: 79rem;
    height: 79rem;
  }
}