@keyframes float {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-20rem);
	}
	100% {
		transform: translatey(0rem);
	}
}


.imageContainer {
  width: 581rem;
  height: 577rem;
  position: relative;
}

.lottieDiv {
  position: absolute;
  z-index: -1;
  width: 88%;
  top:0;
  left: 9%;
}

.coin1 {
  position: absolute;
  width: 103rem;
  height: 86rem;
  top: 92rem;
  left: 21rem;
  animation: float 7s 1s ease-in-out infinite;

}

.coin2 {
  position: absolute;
  width: 97rem;
  height: 99rem;
  top: 54rem;
  left: 481rem;
  animation: float 6s  ease-in-out infinite;

}

.coin3 {
  position: absolute;
  width: 98rem;
  height: 82rem;
  top: 344rem;
  left: 464rem;
  animation: float 5s 2s ease-in-out infinite;
}


@media screen and (max-width: 480px) {
  .imageContainer {
    width: 280rem;
    height: 280rem;
  }

  .coin1 {
    width: 49rem;
    height: 41rem;
    top: 26rem;
    left: 0rem;
  }
  
  .coin2 {
    width: 44rem;
    height: 42rem;
    top: 32rem;
    left: auto;
    right: -10rem;
  }
  
  .coin3 {
    width: 47rem;
    height: 40rem;
    top: 153rem;
    left: auto;
    right: 10rem;
  }

}